.addListButton {
  &__title {
    margin-top: 6px;
    margin-left: 8px;
    font-weight: 500;
    font-size: 14px;
    color: #b6c2cf;

    display: flex;
    align-items: center;

    & > svg {
      margin-right: 10px;
    }
  }

  &__input-block {
    display: flex;
    flex-wrap: wrap;
    padding: 2px 0;
  }
}
